@page "/"

<h1>Hello, world!</h1>

Welcome to your new app.

@code {

    [CascadingParameter]
    public EventCallback notify { get; set; }


    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await notify.InvokeAsync();
        }
    }
}
